# Decision Tree Classification

In [5]:
cd C:/Mehul Session/Session 27_Python Introduction/Decision Tree Algorithm

C:\Mehul Session\Session 27_Python Introduction\Decision Tree Algorithm

In [5]:
import pandas as pd

In [7]:
data=pd.read_csv("Decision_Tree_dataset.csv")

In [7]:
data

       company                  job     degree  salary_more_then_50000
0     Reliance      sales executive  bachelors                       0
1     Reliance      sales executive    masters                       0
2     Reliance     business manager  bachelors                       1
3     Reliance     business manager    masters                       1
4     Reliance  computer programmer  bachelors                       0
5     Reliance  computer programmer    masters                       1
6      Torrent      sales executive    masters                       0
7      Torrent  computer programmer  bachelors                       0
8      Torrent     business manager  bachelors                       0
9      Torrent     business manager    masters                       1
10  Sun Pharma      sales executive  bachelors                       1
11  Sun Pharma      sales executive    masters                       1
12  Sun Pharma     business manager  bachelors                       1
13  Sun Pharma     business manager    masters                       1
14  Sun Pharma  computer programmer  bachelors                       1
15  Sun Pharma  computer programmer    masters                       1

In [15]:
target = data['salary_more_then_50000']

In [6]:
inputs = data.drop('salary_more_then_50000',axis='columns')

NameError: name 'data' is not defined

In [ ]:
inputs.head()

In [9]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

NameError: name 'le_company' is not defined

# Decode

inputs['degree_n'] = le_degree.inverse_transform(inputs['degree_n'])

In [8]:
inputs

NameError: name 'inputs' is not defined

In [12]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')

In [13]:
inputs_n

    company_n  job_n  degree_n
0           0      2         0
1           0      2         1
2           0      0         0
3           0      0         1
4           0      1         0
5           0      1         1
6           2      2         1
7           2      1         0
8           2      0         0
9           2      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [16]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_50000, dtype: int64

In [42]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [43]:
model.fit(inputs_n, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [28]:
model.score(inputs_n,target)

1.0

# Prediction

In [ ]:
# 0-No Salary is not greater than 50000

In [47]:
model.predict([[0,2,0]])

array([0], dtype=int64)

In [ ]:
# 1-Yes Salary is not greater than 50000

In [48]:
model.predict([[0,1,2]])

array([1], dtype=int64)

In [39]:
pre_data=pd.read_csv("Prediction_encoded.csv")

In [40]:
pre_data

    company_n  job_n  degree_n
0           0      2         0
1           0      2         1
2           0      0         0
3           0      0         1
4           0      1         0
5           0      1         1
6           2      2         1
7           2      1         0
8           2      0         0
9           2      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [53]:
prediction_data=model.predict(pre_data)

In [54]:
pd.DataFrame(prediction_data)

    0
0   0
1   0
2   1
3   1
4   0
5   1
6   0
7   0
8   0
9   1
10  1
11  1
12  1
13  1
14  1
15  1

In [56]:
# actual values
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_50000, dtype: int64

In [57]:
# predicted values
prediction_data

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

# Confusion Matrix

In [29]:
from sklearn import metrics

In [30]:
# confusion matrix,accuracy,classification_report in sklearn
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [59]:
# confusion matrix
matrix = confusion_matrix(target,prediction_data, labels=[1,0])
print('Confusion matrix : \n',matrix)

Confusion matrix :
 [[10  0]
 [ 0  6]]

In [32]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(target,prediction_data)
cm

array([[ 6,  0],
       [ 0, 10]], dtype=int64)

# Accuracy

In [64]:
accuracy = metrics.accuracy_score(target, prediction_data)

In [65]:
accuracy

1.0

In [66]:
accuracy_percentage = 100 * accuracy
accuracy_percentage

100.0

# Classification Report

In [67]:
report=classification_report(target, prediction_data)

In [68]:
report

'             precision    recall  f1-score   support\n\n          0       1.00      1.00      1.00         6\n          1       1.00      1.00      1.00        10\n\navg / total       1.00      1.00      1.00        16\n'

# Random Forest Classification

Random dataset gets selected and prepare multiple decision tree

In [1]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

In [3]:
Model=RandomForestClassifier(n_estimators=100)

In [17]:
Model.fit(inputs_n, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [18]:
Model.score(inputs_n,target)

1.0

In [24]:
random_pre_data=pd.read_csv("Prediction_encoded.csv")

In [25]:
random_pre_data

    company_n  job_n  degree_n
0           0      2         0
1           0      2         1
2           0      0         0
3           0      0         1
4           0      1         0
5           0      1         1
6           2      2         1
7           2      1         0
8           2      0         0
9           2      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [27]:
prediction_data=Model.predict(random_pre_data)

In [28]:
prediction_data

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [31]:
# confusion matrix
matrix = confusion_matrix(target,prediction_data, labels=[1,0])
print('Confusion matrix : \n',matrix)

Confusion matrix :
 [[10  0]
 [ 0  6]]

In [33]:
accuracy = metrics.accuracy_score(target, prediction_data)

In [34]:
accuracy_percentage = 100 * accuracy
accuracy_percentage

100.0